# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log
logs/**/*.log
pids
*.pid
*.seed
*.pid.lock

# Diretórios temporários
tmp/
temp/

# Diretórios de build/output
dist/
build/
out/

# TypeScript
*.tsbuildinfo

# Configurações de ambiente
.env
.env.local
.env.*.local

# Sistemas de IDEs/Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS (Mac/Linux/Windows)
.DS_Store
Thumbs.db

# Testes e coverage
coverage/
*.lcov

# PM2
pm2-logs/

# Dependências locais (ex: Docker, Vagrant)
.docker/
.vagrant/

# Configurações de ESLint/Prettier
.eslintcache
.prettierignore

# Jest
jest.config.js
.jest
coverage/

# lockfiles (se estiver usando yarn.lock e package-lock.json ao mesmo tempo)
package-lock.json
yarn.lock
